### Inflation

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm

In [6]:
# 1. Loading dataset

data = {
    'Inflation': [2.5, 2.1, 3.2, 5.0, 8.0, 7.5, 6.5, 3.5, 4.0, 3.0],
    'Interest_Rate': [1.25, 1.5, 2.0, 1.0, 3.5, 4.5, 5.0, 4.5, 4.0, 3.5]
}
df = pd.DataFrame(data)

In [7]:
df

   Inflation  Interest_Rate
0        2.5           1.25
1        2.1           1.50
2        3.2           2.00
3        5.0           1.00
4        8.0           3.50
5        7.5           4.50
6        6.5           5.00
7        3.5           4.50
8        4.0           4.00
9        3.0           3.50

In [8]:
# 2. Descriptive Statistics
print("--- Descriptive Statistics ---")
print(df.describe())

--- Descriptive Statistics ---
       Inflation  Interest_Rate
count  10.000000      10.000000
mean    4.530000       3.075000
std     2.119775       1.500231
min     2.100000       1.000000
25%     3.050000       1.625000
50%     3.750000       3.500000
75%     6.125000       4.375000
max     8.000000       5.000000

In [12]:
# 3. Correlation Analysis (Pearson's r)
correlation, p_value = stats.pearsonr(df['Interest_Rate'], df['Inflation'])
print(f"\nCorrelation Coefficient: {correlation:.4f}")
print(f"P-value: {p_value:.4f}")

Correlation Coefficient: 0.5198
P-value: 0.1236